/* Reset & base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Gill Sans';
}

header {
  background-color: #c96925;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-family: 'Gill Sans';
  font-size: 1.5rem;
  font-weight: bold;
  color:black;
}

nav a {
  color:  rgb(6, 6, 129);
  margin-left: 1.5rem;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

main {
  height: calc(100vh - 70px); /* Adjust height for header */
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('admin-background.jpg') no-repeat center center/cover;
}
